@model IoTBay.web.Models.Entities.Usr

<h1 style="display: flex; justify-content: center">Registration is Successful! Redirecting to login page...</h1>

<script>
    setTimeout(function (){
        
        window.location.href = "/home/login";
        
        },2000);
</script>