@model IoTBay.web.Models.Entities.Product

@{
    ViewData["Title"] = "Update Product";
}

<h2>Update @Model.Name</h2>

<form asp-action="UpdateProduct" method="post" enctype="multipart/form-data">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

    <input asp-for="ProductId" hidden="hidden" value=@Model.ProductId/>
    <div class="form-group">
        <label asp-for="Name" class="control-label"></label>
        <input minlength="2" asp-for="Name" class="form-control" value=@Model.Name/>
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    
    <div class="form-group">
        <label asp-for="Description" class="control-label"></label>
        <input minlength="2" asp-for="Description" class="form-control" value=@Model.Description/>
        <span asp-validation-for="Description" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Price" class="control-label"></label>
        <input asp-for="Price" min="10" max="500" class="form-control" type="number" step="0.1" value=@Model.Price/>
        <span asp-validation-for="Price" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-warning mt-3">Update</button>
</form>