@model IEnumerable<IoTBay.web.Models.Entities.Product>

<div class="py-lg-5">
    
    <div>
        <label style="font-size: 24px; font-weight: bold;">Welcome</label>
    </div>

    @if (User.IsInRole("Admin"))
    {
        <div>
            <label>Manage Customers:</label>
        </div>
        <a asp-controller="Customer" asp-action="Index" class="btn btn-primary">Go to Customer Manager</a>
    }
</div>
@*<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Price</th>
        </tr>
    </thead>
    <tbody>
@foreach (var product in Model) {
        <tr>
            <td>@Html.DisplayFor(modelItem => product.Id)</td>
            <td>@Html.DisplayFor(modelItem => product.Name)</td>
            <td>@Html.DisplayFor(modelItem => product.Price)</td>
            
        </tr>
}
    </tbody>
</table>*@
