@model IoTBay.web.Models.Entities.Usr

<h1 style="display: flex; justify-content: center">Order Submission is Successful! Redirecting to home page...</h1>

<script>
    setTimeout(function (){
        
        window.location.href = "/home/index";
        
        },2000);
</script>