@{
    ViewData["Title"] = "Sign up";
}
<h1>@ViewData["Title"]</h1><br>
<div class="center">
    <form>
        <label for="fname">First Name:</label><br>
        <input type="text" id="fname" name="fname"><br><br>
        <label for="lname">Last Name:</label><br>
        <input type="text" id="lname" name="lname"><br><br>
        <label for="email">E-mail:</label><br>
        <input type="email" id="email" name="email" required><br><br>
        <label for="password">Password:</label><br>
        <input type="password" id="password" name="password"><br><br>
        <span id="passwordError" class="text-danger"></span><br>
        <input type="submit">
    </form><br>
    <p>Already have an account?</p>
    <a href="">Log in</a>
</div>

<script>
    function validatePassword(password) {
        const regexPattern = /^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])[0-9a-zA-Z]{8,30}$/;
        return regexPattern.test(password);
    }

    function toggleRegisterButton() {
        const passwordInput = document.getElementById("password");
        const registerButton = document.querySelector('input[type="submit"]');

        if (validatePassword(passwordInput.value)) {
            registerButton.disabled = false;
            document.getElementById("passwordError").textContent = "";
        } else {
            registerButton.disabled = true;
            document.getElementById("passwordError").textContent = "Password must contain at least 8 characters and 30 maximum, including one uppercase letter, one lowercase letter, and one number.";
        }
    }
    document.getElementById("password").addEventListener("input", toggleRegisterButton);
    
    toggleRegisterButton();
</script>