@{
    ViewData["Title"] = "Sign up";
}
<h1>@ViewData["Title"]</h1><br>
<div class="center">
    <form>
        <label for="fname">First Name:</label><br>
        <input type="text" id="fname" name="fname"><br><br>
        <label for="lname">Last Name:</label><br>
        <input type="text" id="lname" name="lname"><br><br>
        <label for="lname">E-mail:</label><br>
        <input type="text" id="email" name="email"><br><br>
        <label for="lname">Password:</label><br>
        <input type="text" id="password" name="password"><br><br>
        <input type="submit">
    </form><br>
    <p>Already have an account?</p>
    <a href="">Log in</a>
</div>

